# Code owners are the default owners for everything in
# this repository. The owners listed below will be requested for
# review when a pull request is opened.
# To add code owner(s), uncomment the line below and
# replace the @global-owner users with their GitHub username(s).
# *       @global-owner1 @global-owner2
